.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;     
  background-image: url('/images/react-logo.svg'), url('/images/react-logo.svg'), url('/images/react-logo.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;   
  background-position: right, top, top right;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 35%;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.App-header > p {
  padding-right: 20em;
}

p {
  margin-top:0;
}

h1 {
  font-size: 5em;
  margin: 0;
}


a {
  font-weight: bold;
  background-color: white;
  padding: 1em;
  text-decoration: none;
  color: #282c34;
  border-radius: 5px;
}

nav{
  padding: 3em 5em 0 5em;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center 
}

.section-2 {
  display: flex;
  padding: 2em 3em;
  text-align: left;
}

.box {
  margin: 0 3em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box > p{
  font-size: 1.5em;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
